/* --------------------- Général ------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------- Section principale ----------------- */
.card{
    min-width: 900px;
    width: 50%;
    margin: 50px auto 0 auto;
}

h1 {
    text-align: center;
}

/* ------------------- Students and Topics ----------------- */
.topics, .students {
    width: fit-content;
    margin: 80px auto 0 auto ;
}

#listName, #listVeille {
    list-style-type: none;
}

input {
    margin: 7px 0 7px 0;
}


/* ------------------------- Buttons ------------------------- */
button {
    margin-bottom: 7px;
}

#buttons {
    width: 50%;
    margin: 80px auto 10px auto;
    display: flex;
    justify-content: space-around;
}


/* -------------------------- Crossed --------------------------- */
.crossed {
    text-decoration: line-through;
    color: red;
}


/* -------------------------- Responsif ------------------------- */
@media screen and (max-width: 900px) {
    body {
        background-image: none;
    }

    .card {
        min-width: 0;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto 0 auto;
    }

    h1 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    .topics, .students {
        margin: 50px auto 0 auto ;
    }

    #buttons {
        margin: 50px auto 10px auto;
    }
}
